<!-- The index page -->

<h1>Task Inventory</h1>

<a href="/tasks">Show all tasks in database</a>

<br>

<a href="/tasks/new">Add a new task to the database</a>

<br><br>

<a href="/delete-all" onclick="return confirm('Are you sure you want to permanently delete all records from the active database?')">Delete all tasks from the database</a> (WARNING: Cannot be undone!)

