<!-- The layout that is used with every page. Page are filled into the -body -->

<!-- href path needs to start with / or it won't work for views in sub-folders -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<!-- For the nav bar -->
<!-- <div></div> -->

<!-- <br> -->

<%- body %>

<br><br>

<!-- For the footer -->
<!-- <div>FOOTER GOES HERE</div> -->