* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;;
    /* background: #333; */
    background: rgb(30, 30, 30);
    color: #f4f4f4;
}

header {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

a:link {
    color: #65c3ba;
}

a:visited {
    color: #009688;
}

#text-output {
    color: #659dc3;
}

#task-name {
    font-weight: bold;
}

/* Stuff from original file (Lotto app) */

#container {
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    max-width: 600px;
    background: #f4f4f4;
    padding: 10px 15px;
    margin: auto;
    margin-top: 30px;
}

#motto {
    font-style: italic;
    padding: 0;
    margin: 0;
}    

#version {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

#winning-numbers, #winning-numbers2, #winning-numbers3 {
    font-size: 28px;
}    

#generate-btn {
    background: #3F8C59;
    width: 120px;
    height: 35px;
    margin-top: 20px;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
}
